# env variable contain personal email
cypress.env.json

#.logs 
.*log

#reports
cypress/reports/*.json
cypress/reports/mochareports/assets
cypress/screenshots
cypress/videos

#misc
launch.json
node_modules
