# env variable contain test email
# cypress.env.json - this should commented out for testing purposes only

#.logs 
.*log

#reports
cypress/reports/*.json
cypress/reports/mochareports/assets
cypress/screenshots
cypress/videos

#misc
launch.json
node_modules
